.header__link {
    margin-top: 10px;
    transition: opacity .24s;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}

.header__link:hover {
    opacity: .6;
}

@media screen and (max-width: 540px) {
    .header__link {
        margin: 6px 24px 0 0;
        font-size: 14px;
        line-height: 17px;
    }
}