.header__menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

@media screen and (max-width: 694px) {
    .header__menu {
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
    }
}

@media screen and (max-width: 540px) {
    .header__menu {
        margin-right:24px;
    }
}